:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 44px;
}

/* body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
} */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;
    /* height: var(--header-height); */
    background: green;
}

#header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav > div {
    margin: 10px 20px;
}

#map {
    position: absolute;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
}
