:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 50px;
    --footer-height: 40px;
    --dark-color-1: #09092e;
}

body {
    margin: 0;
    min-height: 100vh;
}

.content {
    margin: auto;
    max-width: 800px;
}

#map {
    height: calc(100vh - var(--header-height));
    width: 100%;
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a23;
}

a.header-nav-link {
    font-weight: 700;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
}

a.header-nav-link:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #fff;
}

.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color-1);
}

a.footer-nav-link {
    font-weight: 600;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
}

a.footer-nav-link:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #fff;
}

/* Pop-up stuff for properties*/

.maplibregl-popup {
    max-width: 400px;
}

.maplibregl-popup-content {
    background: var(--dark-color-1) !important;
    border-radius: 8px !important;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: var(--dark-color-1) !important;
}

.properties {
    padding: 3px 0 0;
    max-height: auto;
    overflow-y: auto;
    overscroll-behavior: contain;
    touch-action: pan-y;
    font-size: 14px;
}

.properties > :not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.properties > :not(:first-child) {
    padding-top: 6px;
}

.property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 0px;
    background: transparent;
}

.property-name {
    font-weight: 550;
    flex: 1 1 auto;
    white-space: nowrap;
    text-wrap: balance;
    text-align: left;
}

/* Stuff for style controls */

.maplibregl-ctrl-group button.style-control {
    color: var(--dark-color-1);

    width: 100%;
    padding: 2px 8px;
}
